spring.data.mongodb.uri=${MONGODB_URI}
api.jikan.url=${JIKAN_API_URL}
api.rawg.key=${RAWG_API_KEY}
api.rawg.url=${RAWG_API_URL}

# Configurações de HTTP client
spring.http.client.timeout.connect=5000
spring.http.client.timeout.read=10000

# Configurações de encoding
server.servlet.encoding.charset=UTF-8
server.servlet.encoding.enabled=true
server.servlet.encoding.force=true

# Configurações de HTTP
spring.http.encoding.charset=UTF-8
spring.http.encoding.enabled=true
spring.http.encoding.force=true

# Configurações de compressão
server.compression.enabled=true
server.compression.mime-types=application/json,text/json
server.compression.min-response-size=1024